# Explorando os dados

# 1 - Lendo os dados

Para a modelagem, será utilizado apenas os dados referente ao target $r$, que é a razão tensorial-escalar que armazena a informação sobre ondas gravitacionais primordiais.

In [1]:
import pandas as pd

df = pd.read_csv('training_b_df.csv')

In [2]:
df

,l_2,l_3,l_4,l_5,l_6,l_7,l_8,l_9,l_10,l_11,...,l_503,l_504,l_505,l_506,l_507,l_508,l_509,l_510,l_511,r
0,0.000172,0.000066,0.000078,0.000069,0.000063,0.000021,0.000053,0.000031,0.000043,0.000060,...,6.058483e-10,6.123373e-10,5.492230e-10,4.987756e-10,4.996063e-10,4.873860e-10,4.858634e-10,3.759005e-10,4.054609e-10,0.002872
1,0.000058,0.000068,0.000118,0.000045,0.000045,0.000043,0.000063,0.000035,0.000042,0.000061,...,5.957533e-10,5.382490e-10,5.511306e-10,4.965663e-10,4.848698e-10,4.638441e-10,4.146040e-10,3.850935e-10,3.658829e-10,0.002872
2,0.000066,0.000086,0.000129,0.000044,0.000056,0.000038,0.000041,0.000059,0.000060,0.000048,...,6.044535e-10,5.756162e-10,5.306156e-10,4.744517e-10,4.625054e-10,4.354919e-10,3.960931e-10,3.977156e-10,3.608611e-10,0.002872
3,0.000140,0.000167,0.000060,0.000070,0.000064,0.000030,0.000018,0.000049,0.000025,0.000042,...,6.067260e-10,5.923192e-10,5.206132e-10,5.064276e-10,4.546328e-10,4.771503e-10,4.041781e-10,3.925857e-10,3.493796e-10,0.002872
4,0.000025,0.000066,0.000041,0.000060,0.000052,0.000034,0.000046,0.000031,0.000035,0.000084,...,6.144698e-10,5.878574e-10,5.581525e-10,5.349131e-10,4.615936e-10,4.710612e-10,4.277015e-10,3.812178e-10,3.678812e-10,0.002872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0.000138,0.000049,0.000021,0.000019,0.000019,0.000039,0.000031,0.000039,0.000046,0.000054,...,5.715559e-10,5.597664e-10,5.280729e-10,5.106220e-10,4.678772e-10,4.277167e-10,4.167436e-10,3.841709e-10,3.595660e-10,0.011467
7996,0.000049,0.000049,0.000023,0.000023,0.000052,0.000026,0.000055,0.000036,0.000066,0.000094,...,5.945880e-10,5.588835e-10,5.163429e-10,4.827139e-10,4.791565e-10,4.352070e-10,4.263153e-10,3.777479e-10,3.572270e-10,0.011467
7997,0.000084,0.000028,0.000024,0.000038,0.000044,0.000050,0.000049,0.000026,0.000089,0.000078,...,6.202956e-10,5.871600e-10,5.503659e-10,5.109527e-10,4.832764e-10,4.629816e-10,4.468772e-10,4.371018e-10,3.820512e-10,0.011467
7998,0.000007,0.000125,0.000024,0.000012,0.000050,0.000034,0.000055,0.000085,0.000079,0.000103,...,5.591386e-10,5.611786e-10,5.009329e-10,5.056176e-10,4.515758e-10,4.394383e-10,4.093147e-10,3.904380e-10,3.585950e-10,0.011467
7999,0.000085,0.000047,0.000044,0.000050,0.000027,0.000007,0.000039,0.000040,0.000049,0.000081,...,5.726886e-10,5.989801e-10,4.690192e-10,4.894000e-10,4.265101e-10,4.466181e-10,3.627355e-10,3.940726e-10,3.365828e-10,0.011467

# 2 - Remoção de duplicados

In [3]:
# Verifica quais linhas são duplicatas
duplicadas = df.duplicated()
print(duplicadas)

0       False
1       False
2       False
3       False
4       False
        ...
7995    False
7996    False
7997    False
7998    False
7999    False
Length: 8000, dtype: bool

In [4]:
total_duplicadas = df.duplicated().sum()
print(f"Total de linhas duplicadas: {total_duplicadas}")

Total de linhas duplicadas: 0

### OBS: Não há dados duplicados neste dataset

# 3 - Verifica existencia de dados nulos

In [5]:
contagem_nulos = df.isnull().sum()
print("Contagem de nulos por coluna:")
print(contagem_nulos)

Contagem de nulos por coluna:
l_2      0
l_3      0
l_4      0
l_5      0
l_6      0
        ..
l_508    0
l_509    0
l_510    0
l_511    0
r        0
Length: 511, dtype: int64

In [6]:
total_nulos_df = contagem_nulos.sum()

print(f"O número TOTAL de nulos no DataFrame é: {total_nulos_df}")

O número TOTAL de nulos no DataFrame é: 0

### OBS: Não há dados nulos no dataset.

# 4 - Checando tipos das colunas

In [7]:
print("Informações detalhadas do DataFrame:")
df.info()

Informações detalhadas do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Columns: 511 entries, l_2 to r
dtypes: float64(511)
memory usage: 31.2 MB

In [9]:
print("Informações detalhadas do DataFrame:")
df.info()

Informações detalhadas do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Columns: 511 entries, l_2 to r
dtypes: float64(511)
memory usage: 31.2 MB

### OBS: Todos os dados são númericos do tipo float64

# 5 - Verificando se os dados estão normalizados

In [10]:
maximo_global = df.max(numeric_only=True).max()

print(f"O valor máximo de todo o DataFrame é: {maximo_global}")

O valor máximo de todo o DataFrame é: 0.049998

In [11]:
minimo_global = df.max(numeric_only=True).min()

print(f"O valor mínimo de todo o DataFrame é: {minimo_global}")

O valor mínimo de todo o DataFrame é: 4.627907e-10

In [12]:
maximo_target = df['r'].max()

print(f"O valor máximo do target é: {maximo_target}")

O valor máximo do target é: 0.049998

In [13]:
minimo_target = df['r'].min()

print(f"O valor mínimo do target é: {minimo_target}")

O valor mínimo do target é: 0.0

### OBS:

- Os dados númericos todos se encontram entre 0 e 1, mas não estão normalizados.

- A normalização será feita após dividir-se o dataset entre X_features e y_target