# Explorando os dados

# 1 - Lendo os dados

Para a modelagem, será utilizado apenas os dados referente ao target $r$, que é a razão tensorial-escalar que armazena a informação sobre ondas gravitacionais primordiais.

In [1]:
import pandas as pd

df = pd.read_csv('training_b_df.csv')

In [2]:
df

,index,l_2,l_3,l_4,l_5,l_6,l_7,l_8,l_9,l_10,...,l_503,l_504,l_505,l_506,l_507,l_508,l_509,l_510,l_511,r
0,cl_b_realization1_target1,0.000172,0.000066,0.000078,0.000069,0.000063,0.000021,0.000053,0.000031,0.000043,...,6.058483e-10,6.123373e-10,5.492230e-10,4.987756e-10,4.996063e-10,4.873860e-10,4.858634e-10,3.759005e-10,4.054609e-10,0.002872
1,cl_b_realization2_target1,0.000058,0.000068,0.000118,0.000045,0.000045,0.000043,0.000063,0.000035,0.000042,...,5.957533e-10,5.382490e-10,5.511306e-10,4.965663e-10,4.848698e-10,4.638441e-10,4.146040e-10,3.850935e-10,3.658829e-10,0.002872
2,cl_b_realization3_target1,0.000066,0.000086,0.000129,0.000044,0.000056,0.000038,0.000041,0.000059,0.000060,...,6.044535e-10,5.756162e-10,5.306156e-10,4.744517e-10,4.625054e-10,4.354919e-10,3.960931e-10,3.977156e-10,3.608611e-10,0.002872
3,cl_b_realization4_target1,0.000140,0.000167,0.000060,0.000070,0.000064,0.000030,0.000018,0.000049,0.000025,...,6.067260e-10,5.923192e-10,5.206132e-10,5.064276e-10,4.546328e-10,4.771503e-10,4.041781e-10,3.925857e-10,3.493796e-10,0.002872
4,cl_b_realization5_target1,0.000025,0.000066,0.000041,0.000060,0.000052,0.000034,0.000046,0.000031,0.000035,...,6.144698e-10,5.878574e-10,5.581525e-10,5.349131e-10,4.615936e-10,4.710612e-10,4.277015e-10,3.812178e-10,3.678812e-10,0.002872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,cl_b_realization6_target1000,0.000017,0.000209,0.000385,0.000079,0.000089,0.000040,0.000053,0.000055,0.000056,...,5.516829e-10,5.934444e-10,5.169918e-10,5.210142e-10,4.470891e-10,4.619118e-10,3.933742e-10,3.561920e-10,3.397018e-10,0.014936
9996,cl_b_realization7_target1000,0.000021,0.000200,0.000087,0.000099,0.000158,0.000047,0.000015,0.000058,0.000137,...,5.594487e-10,5.265735e-10,4.667441e-10,4.792801e-10,4.221269e-10,3.972213e-10,3.605560e-10,3.874225e-10,3.352761e-10,0.014936
9997,cl_b_realization8_target1000,0.000244,0.000103,0.000202,0.000152,0.000073,0.000035,0.000057,0.000036,0.000052,...,5.235341e-10,6.281461e-10,5.356119e-10,5.341638e-10,4.507673e-10,4.504032e-10,4.218950e-10,4.454599e-10,3.516340e-10,0.014936
9998,cl_b_realization9_target1000,0.000029,0.000242,0.000166,0.000151,0.000074,0.000058,0.000049,0.000089,0.000043,...,5.865421e-10,5.865462e-10,5.099055e-10,5.082683e-10,4.383359e-10,4.465953e-10,3.948185e-10,3.890945e-10,3.387430e-10,0.014936
9999,cl_b_realization10_target1000,0.000098,0.000202,0.000145,0.000110,0.000081,0.000065,0.000029,0.000050,0.000081,...,6.147854e-10,5.558837e-10,5.163260e-10,4.701277e-10,4.579664e-10,4.721826e-10,4.271212e-10,4.012463e-10,3.751234e-10,0.014936

# 2 - Remoção de duplicados

In [4]:
# Verifica quais linhas são duplicatas
duplicadas = df.duplicated()
print(duplicadas)

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [5]:
total_duplicadas = df.duplicated().sum()
print(f"Total de linhas duplicadas: {total_duplicadas}")

Total de linhas duplicadas: 0

### OBS: Não há dados duplicados neste dataset

# 3 - Verifica existencia de dados nulos

In [14]:
contagem_nulos = df.isnull().sum()
print("Contagem de nulos por coluna:")
print(contagem_nulos)

Contagem de nulos por coluna:
index    0
l_2      0
l_3      0
l_4      0
l_5      0
        ..
l_508    0
l_509    0
l_510    0
l_511    0
r        0
Length: 512, dtype: int64

In [15]:
total_nulos_df = contagem_nulos.sum()

print(f"O número TOTAL de nulos no DataFrame é: {total_nulos_df}")

O número TOTAL de nulos no DataFrame é: 0

### OBS: Não há dados nulos no dataset.

# 4 - Checando tipos das colunas

In [16]:
print("Informações detalhadas do DataFrame:")
df.info()

Informações detalhadas do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 512 entries, index to r
dtypes: float64(511), object(1)
memory usage: 39.1+ MB

Descarta-se a coluna 'index' por conter apenas informação sobre os arquivos usados na agregação.

In [18]:
df.drop(columns=['index'], inplace=True)

In [20]:
print("Informações detalhadas do DataFrame:")
df.info()

Informações detalhadas do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 511 entries, l_2 to r
dtypes: float64(511)
memory usage: 39.0 MB

### OBS: Todos os dados são númericos do tipo float64

# 5 - Verificando se os dados estão normalizados

A informação da doutora Camila Novaes que me passou os dados era de que os dados estavam normalizados.

Abaixo, verifica-se se essa afirmação procede:

In [21]:
maximo_global = df.max(numeric_only=True).max()

print(f"O valor máximo de todo o DataFrame é: {maximo_global}")

O valor máximo de todo o DataFrame é: 0.049998

In [22]:
minimo_global = df.max(numeric_only=True).min()

print(f"O valor mínimo de todo o DataFrame é: {minimo_global}")

O valor mínimo de todo o DataFrame é: 4.627907e-10

### OBS:

- Os dados númericos todos se encontram entre 0 e 1. 

- Os dados estão prontos para a modelagem.